*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  color: white;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
}

body{
  background-color: #F8F8F8;
}

/* Grid structure */
#grid-container {
  display: grid;
  max-width: 100%;
  height: 100vh;
  position: relative;
  margin: auto;
  grid-template: repeat(10, 1fr) / repeat(8, 1fr);
  gap: 10px 25px;
  border: solid black 2px;
}

.grid-item {
  border: solid gray 2px;
}

header {
  grid-area: 1 / 1 / span 1 / span 8;
  z-index: 1;
  background-color: #7733ff;
  color: inherit;
  padding: 5px 3%;
}

/* .nav-container li {
  display: inline-block; 
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
}  */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0 20px; */
  list-style: none;
} 

.logo {
  height: 17px;
  width: auto;
}

.logo:hover, .delta:hover {
  cursor: pointer;
}

.delta{
  font-weight: 500;
  font-size: 1.5rem;
  padding-left: 5px;
}

/* #date-time {

} */

.side-pane {
  grid-area: 2 / 1 / span 10 / span 2;
}

.left {
  grid-area: 2 / 3 / span 9 / span 3;
}

.right {
  grid-area: 2 / 6 / span 9 / span 3;
}

/* Diffuse coloured circles */
.green-container {
  grid-area: 1 / 4 / span 5 / span 2;
  z-index: -1;
}

.pink-container {
  grid-area: 5 / 3 / span 5 / span 2;
  z-index: -1;
}

.blue-container {
  grid-area: 2 / 7 / span 5 / span 2;
  z-index: -1;
}

.yellow-container {
  grid-area: 6 / 5 / span 5 / span 2;
  z-index: -1;
}

#green-circle, #pink-circle, #blue-circle, #yellow-circle {
  max-width: 100%;
  max-height: 100%;
} 

