*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  color:black;
  font-weight: normal;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body{
  background-color: #F8F8F8;
}

/* Grid structure */
#grid-container {
  display: grid;
  max-width: 100%;
  height: 100vh;
  position: relative;
  margin: auto;
  grid-template: repeat(10, 1fr) / repeat(8, 1fr);
  gap: 10px 25px;
  border: solid black 2px;
}

.grid-item {
  border: solid black 2px;
}

header {
  grid-area: 1 / 1 / span 1 / span 8;
  z-index: 1;
  background-color: #7733ff;
  color: white;
}

nav {
  grid-area: 1 / 1 / span 10 / span 2;
}

#left {
  grid-area: 2 / 3 / span 9 / span 3;
}

#right {
  grid-area: 2 / 6 / span 9 / span 3;
}

/* Diffuse coloured circles */
#green-container {
  grid-area: 1 / 4 / span 5 / span 2;
  z-index: -1;
}

#pink-container {
  grid-area: 5 / 3 / span 5 / span 2;
  z-index: -1;
}

#blue-container {
  grid-area: 2 / 7 / span 5 / span 2;
  z-index: -1;
}

#yellow-container {
  grid-area: 6 / 5 / span 5 / span 2;
  z-index: -1;
}

#green-circle, #pink-circle, #blue-circle, #yellow-circle {
  max-width: 100%;
  max-height: 100%;
} 

