*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  color: var(--main-text-color, #1e3050);
  font-weight: normal;
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
  text-decoration: none;
  /* border: solid gray 1px; */
}

:root{
  --main-background-color: #f3f3f3;
  --main-purple-color: #7733ff;
  --mid-purple-color: #dcccff;
  --light-purple-color: #F4EFFF;
  --main-text-color: #1e3050;
  --footer-color: #e6e6e6;
  --light-grey-color: #f3f3f3;
  --dark-grey-color: #e6e6e6;
  --scale-on-hover: scale(1.1);
  --expand-on-hover: all 300ms ease 50ms;
  --darken-on-hover-instant: background-color 400ms ease 0; 
  --darken-on-hover: background-color 400ms ease 50ms; 
  --small-captions: 0.8rem;
}

html {
  width: 100%;
  height: 100%;
}

body{
  background-color: var(--main-background-color, #f3f3f3);
  min-width: 380px;
}

/* Grid structure */
.grid-container {
  display: grid;
  max-width: 100%;
  height: 100vh;
  position: relative;
  padding: 0;
  margin: 0 auto;
  grid-template: repeat(10, 1fr) / repeat(7, 1fr);
  /* gap: 10px 0; */
  gap: 0;
}

/* Experimental app start welcome page from here */

.app-start-backdrop {
  grid-area: 1 / 1 / span 10 / span 7;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: var(--main-purple-color, #7733ff);
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: app-start-animation 1s 1;
}
.app-start-welcome {
  display: inline-flex;
  z-index: 4;
  opacity: 50%;
  animation: app-start-animation 1s 1;
  opacity: 1;
}

/* .welcome-logo {
  width: 2.25rem;
  margin-right: 2%;
  animation: app-start-plane 2s 1;
} */

.welcome-delta {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 3rem;
  color: white;
  animation: app-start-animation 1s 50ms;
}

/* @keyframes app-start-animation {
0%  {visibility: visible;}
40% {font-size: 2.5rem; opacity: 60%}
55% {font-size: 6rem;}
100% {font-size: 6rem; opacity: 0%; visibility: visible; }
} */

/* @keyframes app-start-plane {
  0%{ }
  40%{width: 1.865rem; }
  55%{width: 5rem;}
  100%{width: 5rem;}
} */

/* Experimental app start welcome page to here */

header {
  grid-area: 1 / 1 / span 1 / span 7;
  z-index: 1;
  background-color: var(--main-purple-color,#7733ff);
  padding: 5px 3%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center; 
  min-width: 380px;
  min-height: 40px; 
}

.nav-container {
  display: flex;
  width: 95vw;
  min-width: 380px;
  justify-content: flex-start; 
  list-style: none;
} 

.logo {
  height: max(1.05rem, 2vh);
  width: auto;
}

.logo:hover, .delta:hover{
  cursor: pointer;
}

.delta, .time span {
  font-weight: 500;
  font-size: max(1.25rem, 2.75vh); 
  padding-left: 5px;
  color: white;
}

.time {
  margin-left: auto;
}

.separator {
  display: none;
  height: max(1.25rem, 2.5vh); 
  margin-left: 3vw;
  border-left: 1px solid white;
  align-self: center;
}

.alternative-menu {
  display: none;
  align-self: center;
  margin-left: 3vw;
  height: max(1.25rem, 2.5vh); 
  min-width: calc(1.25rem + 2vw);
  /* border-left: 1px solid white; */
}

.main-body-container {
  grid-area: 2 / 1 / span 8 / span 7; 
  width: 100%;
  height: 100%;
  display: inline-flex;
  overflow: hidden;
}

.side-pane {
  height: 100%; 
  width: min(calc(100vw / 7), 200px); 
  /* width: clamp(calc(1024px / 13), calc(100vw / 7), 200px); */
  flex-shrink: 1.5;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /* grid-template-rows: repeat(15, 1fr); */
  /* grid-template-columns: clamp(calc(1024px / 13), calc(100vw / 7), 200px);  */
  background-color: white;
  border-right: solid gray 2px;
  padding: 5vh 0.25rem; 
  align-items: flex-start;
  z-index: 1;
}

.left-and-right-container {
  grid-area: 2 / 2 / span 8 / span 6;
  width: 100%;
  height: 100%;
  padding: min(7vh, 50px) 0;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-evenly;
}

.left {
  width: clamp(380px, 40vw, 900px);
  height: clamp(280px, 30vh, 480px);
  background-color: white;
  padding: 1rem 1.5rem; 
  border-radius: 15px;
  margin: 0 min(2.5vw 20px) 0 min(5vw 20px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px;
}

#right {
  /* min-width: 350px;  */
  flex-shrink: 1.5;
  width: clamp(30vw, 35vw, 900px);
  height: clamp(280px, 35vh, 400px);
  margin: 0 min(2.5vw 20px) 0 min(5vw 20px);
}

.footer {
  grid-area: 10 / 1 / span 1 / span 7;
  display: flex;
  align-items: center;
  background-color: var(--footer-color, #e6e6e6);
  padding: 3px 2%;
  margin: 0;
  border-top: solid gray 1px;
  z-index: 1;
}

/* Diffuse coloured circles */
.green-container {
  grid-area: 1 / 3 / span 5 / span 2;
  z-index: -1;
}

.pink-container {
  grid-area: 5 / 2 / span 5 / span 2;
  z-index: -1;
}

.blue-container {
  grid-area: 2 / 6 / span 5 / span 2;
  z-index: -1;
}

.yellow-container {
  grid-area: 6 / 4 / span 5 / span 2;
  z-index: -1;
}

#green-circle, #pink-circle, #blue-circle, #yellow-circle {
  max-width: 100%;
  max-height: 100%;
} 

/* Side pane */
.home, .account, .hamburger-menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  /* margin-bottom: min(3vh, 35px); */
  margin-bottom: 1rem;
}

.home, .account {
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  width: 100%;
  cursor: pointer;
}

@media (min-width: 768px) {
  .home:hover, .account:hover {
    background-color: var(--light-grey-color);
    transition: var(--darken-on-hover-instant);
  }
}

.hamburger-menu img {
  margin: 0.5rem 0.5rem;
}

.hamburger-menu img:hover, .alternative-menu img:hover {
  transform: scaleX(1.03);
  cursor: pointer;
}

.pane-icon {
  height: 1rem;
  width: auto;
}

.hamburger-menu img {
  visibility: hidden;
  padding: 0 2px;   /* To equalise width to other pane-icons */
} 

.home span, .account span {
  display: visible;
  cursor: pointer;
  font-size: inherit;
  padding-left: 0.5rem;
}

/* .logo:hover, .pane-icon:hover {
  transform: scale(1.08);
} */

/* Left section */
/* .left-grid-container {
  display: grid;
  max-width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  grid-template: repeat(10, 1fr) / repeat(12, 1fr);
  gap: 15px 0;
} */

/**/
/* Todo app from here */

.todo-app {
  /* display: block; */
  display: grid;
  grid-template: 1fr 1fr 3fr 1fr / repeat(2, 1fr);
  width: 100%;
  height: 100%;
  gap: 1rem;
}

.todo-app h2 {
  grid-area: 1 / 1 / span 1 / span 2; 
  display: flex;
  align-items: center;
  color: inherit;
  font-weight: 500;
} 

.row #task-input-box, .task-btn-expanded, .deadline-row span, #deadline {
  font-size: var(--small-captions, 0.8rem);
}

.row, #details-input-box {
  transition: var(--darken-on-hover);
}

.row {
  grid-area: 2 / 1 / span 1 / span 2; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 2rem;
  justify-self: center;
  align-self: center;
  background-color: var(--light-purple-color, #F4EFFF);
  border-radius: 30px;
  padding-left: 1rem;
}

.row:hover {
  background-color: var(--mid-purple-color, #dcccff);
}

/* This removes any autofill user agent styling  */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

#task-input-box {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  padding-right: 1rem;
}

.details-input-box-container {
  grid-area: 3 / 1 / span 1 / span 2;
  justify-self: center; 
  max-height: 4.5rem;
  width: 90%;  
  padding: 0.5rem 0;
  border: none;
  border-radius: 0.8rem;
  background-color: var(--light-grey-color, #f3f3f3);
}

#details-input-box {
  display: flex;
  word-wrap: break-word; 
  padding: 0.2rem 1rem;
  border: none;
  font-size: 0.7rem;
  background: transparent;
  max-width: 100%;
  min-width: 100%; 
  max-height: 120%;
  min-height: 120%;
  resize: none;
  /* see webkit-line-clamp to limit text input length */
}

.details-input-box-container:hover {
  background-color: var(--dark-grey-color, #e6e6e6)
}

#details-input-box:focus {
  outline: none;
}

/* .expanded-btn-container {
  grid-area: 2 / 1 / span 1 / span 2;
  display: flex;
  justify-content: center;
  width: clamp(60px, 5vw, 90px); 
  height: max(2rem, 100%); 
  background-color: var(--main-purple-color, #7733ff);
  border-radius: 25px;
  cursor: pointer;
  justify-self: end;
  align-self: center;
  z-index: 1;
} */

.task-btn-expanded {
  grid-area: 2 / 1 / span 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(60px, 5vw, 90px); 
  height: max(2rem, 100%); 
  border-radius: 25px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: var(--main-purple-color, #7733ff);
  color: white;
  cursor: pointer;
}

.minimised-btn-container {
  grid-area: 4 / 2 / span 1 / span 1;
  visibility: hidden;
  display: flex;
  justify-content: center;
  text-align: center;
  height: 2rem;
  width: 2rem;
  background-color: var(--main-purple-color, #7733ff);
  margin-right: 1rem;
  border-radius: 1.5rem;
  cursor: pointer;
  justify-self: end;
  align-self: center;
  z-index: 1;
}

.task-btn-minimised {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 0.15rem;
  padding-left: 0.05rem;
}

.deadline-row{
  grid-area: 4 / 1 / span 1 / span 2;
  display: flex;
  align-items: center;
  width: 90%;
  height: 1.75rem;
  padding-left: 0.5rem;
  margin: 20px auto 25px auto;
  color: var(--main-text-color, #1e3050);
}

.deadline-row span {
  padding-right: 0.5rem;
  color: inherit;
}

#deadline {
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
  position: relative;
  transition: var(--darken-on-hover-instant)
}

#deadline:hover {
  background-color: var(--light-grey-color, #f3f3f3);
}

#deadline:focus {
  border: none;
  outline: none;
}

/* Todo app to here */
/**/

#right-grid-welcome {                  /*not made a flex container as display property*/
  width: 100%;                         /*is changed to hidden by JS ('display:flex' overrides*/
  height: 100%;                        /*the 'display:hidden' style)*/
  background-color: white;
  border-radius: 15px;
  position: relative
}

#welcome-flex-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;        /* aligns items horizontally */
  justify-content: center;    /* aligns items vertically */
  transition: var(--expand-on-hover);
}

#welcome-flex-container:hover {
  transform: var(--scale-on-hover);
}

#right-list-container {
  grid-area: 2 / 2 / span 8 / span 10;
  /* display: grid;
  grid-template: repeat(10, 1fr) / 1fr;
  gap: 15px 0; */
  min-height: 2rem;
  height: 100%;
  /* grid-auto-rows: 2.25rem; */
  /* grid-auto-columns: 10fr;
  grid-auto-flow: row; */
  overflow-y: auto;
  list-style: none;
  /* Custom scrollbar for Firefox */
  /* scrollbar-color: hsl(219, 45%, 83%) white;
  scrollbar-width: thin; */
}

/* Custom scrollbar for Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0.5rem;
}
*::-webkit-scrollbar-track {
  background: none;
  width: 1rem;
}
*::-webkit-scrollbar-thumb {
  background-color: 	hsl(219, 45%, 83%);
  border-radius: 0.5rem;
  border: none;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: 	hsl(219, 45%, 73%);
}
/* Custom scrollbar to here */

.file-icon {
  display: block;
  width: min(4rem, 7vw); 
  height: auto;
}

.no-task-caption {
  display: block;
  /* font-size: 1rem; */
  font-size: min(1rem, 1.75vw);
  font-weight: 600;
  color: #BFCDE7;
  padding-top: 10px;
}

.task-container {
  width: 100%;
  height: clamp(4rem, 8vh, 5rem);
  display: flex;
  flex-wrap: wrap;
  padding: 0.35rem 10px 0.5rem 10px;
  margin-bottom: 0.8rem;
  user-select: none;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px;
  background-color: white;
}

.task-container:hover {
  background-color: var(--light-grey-color, #f3f3f3); 
}

.task-row-1, .task-row-2 {
  width: 100%;
  display: flex;
  margin: 0.1rem 0;
  flex-wrap: inline-flex; 
  align-items: center;
}

.task-row-2 {
  justify-content: space-between;
  min-height: calc((23.5rem / 16));
  font-size: 0.7rem;
  display: inline-flex;
  flex-wrap: nowrap;
  padding: 0 1.25rem;
}

.disabled {
  display: flex;
  text-decoration: line-through;
}

.disabled-caption {
  color: var(--light-grey-color, #f3f3f3);
}

input[type="checkbox"] {
  appearance: none;
  border: none; 
  -webkit-appearance: none;
  -moz-appearnce: none;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "\2713";
  display: inline-block;
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0.65rem;
  text-align: center;
  border: 0.14rem solid grey;
  border-radius: 50%;
  margin-right: 0.35rem;
  color: transparent;
}

input[type="checkbox"]:checked::before {
  color: white;
  background-color: var(--main-purple-color, #7733ff);
  border: 0.14rem solid var(--main-purple-color, #7733ff);
  border-radius: 50%;
}

/* .check-circle {
  height: 1rem;
  width: 1rem;
  background-color: transparent;
  border: solid gray 2px;
  border-radius: 50%;
  cursor: pointer;
  color: white;
  font-family: 'Outfit';
  margin-right: 5px;
} */

.task-title {
  font-size: var(--small-captions, 0.8rem);
  cursor: pointer;
}

.task-details {
  font-size: 0.7rem;
}

.deadline-output {
  font-size: inherit;
  margin-left: auto;
  padding-right: 0.1rem;
  min-width: fit-content;
  padding-left: 0.5rem;
}

.icon {
  height: 0.8rem;
  width: auto;
  margin: 0 5px;
}

.github {
  height: 1rem;
  width: auto;
  margin: 5px;
}

.footer-credits {
  font-size: 0.8rem;
}

.my-name {
  margin-left: auto;
}

@media only screen and (max-width: 922px) {
  .left-and-right-container{
    grid-column: 2 / span 8;
  }
  .left, #right {
    width: max(350px, 75%);
  }
  #right {
    flex-shrink: 1;
  }
  .file-icon {
    display: block;
    width: max(4rem, 7vw);  
    height: auto;
  }
  .no-task-caption {
    display: block;
    /* font-size: 1rem; */
    font-size: max(1rem, 1.75vw); 
    font-weight: 600;
    color: #BFCDE7;
    padding-top: 10px;
  }
  .green-container {
    grid-area: 1 / 2 / span 5 / span 2;
  }
  .yellow-container {
    grid-area: 6 / 6 / span 4 / span 2;
  }
}

@media only screen and (max-width: 768px) {
  .side-pane {
    width: max(70px, calc(100vw / 14)); 
    grid-template-columns: 100%; 
    padding: 5vh 0;
    transition: all 600ms ease 5ms;
  }
  .hamburger-menu img {
    visibility: visible;
  }
  .home, .account, .hamburger-menu {
    justify-content: center;
  }
  .pane-icon, .hamburger-menu img {
    padding: 0;
    height: max(1rem, 2vh);
    width: auto;
  }
  .home span, .account span {
    display: none;
  }
  .home:hover, .account:hover, .alternative-menu:hover {
    background-color: none;
    transform: scaleX(1.03);
    cursor: pointer;
  }
}
@media only screen and (max-width: 480px) {
  .separator {
    display: flex;
  }
  .alternative-menu {
    display: flex;
    transition: all 1s ease 50ms;
  }
  .side-pane {
    position: fixed;
    top: 10%;
    left: 0;
    height: 100%; 
    transform: translate(-100%);
    transition: all 600ms ease 5ms;
  }
  .show-sidepane {
    transform: translate(0);
  }
  .left-and-right-container {
    height: 95%;
  }
  #right {
    margin-top: 1.5rem;
  }
}

/* @media only screen and (max-width: 900px){
  .grid-container{
    grid-template: repeat(11, 1fr) / repeat(7, 1fr);
    gap: 20px 0px;
    height: 100vh;
    width: 100%;
  }
  .side-pane {
    grid-area: 1 / 1 / span 11 / span 1;
    grid-template: repeat(12, 1fr) / 1fr;
    padding: 30% 0;
  }
  .left {
    width: clamp(380px, 40vw, 90vw);
    height: clamp(280px, 30vh, 480px);
  }
  #right {
    width: clamp(380px, 35vw, 90vw);
    height: clamp(280px, 35vh, 400px);
  }
  .footer {
    grid-area: 11 / 2 / span 1 / span 6;
  }
  .row {
    flex-wrap: wrap;
  }
  .task-btn-expanded {
    visibility: hidden;
  }
  .deadline-row{
    margin: 0 auto;
  }
  .minimised-btn-container {
    visibility: visible;
  }
  .pane-icon{
    height: 1.25rem;
    width: auto;
  }
  .hamburger-menu {
    visibility: visible;
  }
  .home-icon {
    grid-area: 3 / 1 / span 1 / span 1;
  }
  .home span{
    display: none;
  }
  .account-icon {
    grid-area: 4 / 1 / span 1 / span 1;
  }
  .account span {
    display: none;
  }
  #right-grid-welcome{
    grid-area: 3 / 2 / span 8 / span 10;
  }
  .file-icon {
    flex-basis: 10%;
    width: clamp(3.25rem, 8vw, 4.5rem);
  }
  .no-task-caption{
  font-size: clamp(0.8rem, 2.5vw, 0.9rem);
  font-weight: 500;
  }
  .yellow-container{
    grid-area: 6 / 6 / span 5 / span 2;
  }
}  */

/* Placeholder styling added. Change styles for this vh */
/* @media only screen and (max-height: 845px){
  .grid-container{
    list-style: none;
    overflow-y: auto;
  }
  .left {
    background-color: pink;
  }
} */